<table class="table">
  <tr id="weapon">
    <td>Weapons</td>
    <td class="count"><%= deck.cards.weapons.count %></td>
  </tr>
  <tr id="spells">
    <td>Spells</td>
    <td class="count"><%= deck.cards.spells.count %></td>
  </tr>
  <tr id="armor">
    <td>Armor</td>
    <td class="count"><%= deck.cards.armors.count %></td>
  </tr>
  <tr id="item">
    <td>Items</td>
    <td class="count"><%= deck.cards.items.count %></td>
  </tr>
  <tr id="ally">
    <td>Allies</td>
    <td class="count"><%= deck.cards.allies.count %></td>
  </tr>
  <tr id="blessing">
    <td>Blessings</td>
    <td class="count"><%= deck.cards.blessings.count %></td>
  </tr>
  <tr id="loot">
    <td>Loot</td>
    <td class="count"><%= deck.cards.loots.count %></td>
  </tr>
</table>