<table class="table">
  <tr>
    <td>Weapons</td>
    <td><%= deck.cards.weapons.count %></td>
  </tr>
  <tr>
    <td>Spells</td>
    <td><%= deck.cards.spells.count %></td>
  </tr>
  <tr>
    <td>Armor</td>
    <td><%= deck.cards.armors.count %></td>
  </tr>
  <tr>
    <td>Items</td>
    <td><%= deck.cards.items.count %></td>
  </tr>
  <tr>
    <td>Allies</td>
    <td><%= deck.cards.allies.count %></td>
  </tr>
  <tr>
    <td>Blessings</td>
    <td><%= deck.cards.blessings.count %></td>
  </tr>
  <tr>
    <td>Loot</td>
    <td><%= deck.cards.loots.count %></td>
  </tr>
</table>