<input class="btn right" id="print-button" type="button" onClick="window.print()" value="Print Your Deck"/>

<h2>
  <%= @deck.character.name %> Played By <%= @deck.player.name %>
</h2>

<div id="deck-info">
  <div id="card-limits" class="panel panel-default left">
    <div class="panel-heading">Card Limits</div>
    <table class="table">
      <tr>
        <td>Weapons</td>
        <td><%= @deck.weapons_count %></td>
      </tr>
      <tr>
        <td>Spells</td>
        <td><%= @deck.spells_count %></td>
      </tr>
      <tr>
        <td>Armor</td>
        <td><%= @deck.armors_count %></td>
      </tr>
      <tr>
        <td>Items</td>
        <td><%= @deck.items_count %></td>
      </tr>
      <tr>
        <td>Allies</td>
        <td><%= @deck.allies_count %></td>
      </tr>
      <tr>
        <td>Blessings</td>
        <td><%= @deck.blessings_count %></td>
      </tr>
    </table>
  </div>

  <div id="current-counts" class="panel panel-default right">
    <div class="panel-heading">
      Current Counts
    </div>
    <%= render partial: 'count_table', locals: { deck: @deck } %>
  </div>
</div>

<div id="cards">
  <div id="middle-section">
    <div id="card-list-filter" class="input-group input-group-lg left">
      <input data-filter-path="<%= filter_cards_deck_path(@deck) %>" type="text" id="card-list-filter" class="form-control" placeholder="Filter">
    </div>

    <div id="default-deck" class="right">
      <%= link_to "Replace Deck with Suggested Defaults", replace_with_defaults_deck_path(@deck), class: "btn btn-warning", role: "button" %>
      <%= link_to "Clear all cards", clear_cards_deck_path(@deck), class: "btn btn-danger", role: "button" %>
    </div>
  </div>

  <div id="all-cards" class="card-list left">
    <div class="list-group">
      <%= render partial: 'card_list', object: Card.by_name, locals: { action: 'add' } %>
    </div>
  </div>

  <div id="deck-cards" class="card-list right">
    <div class="list-group">
      <%= render partial: 'card_list', object: @deck.cards, locals: { action: 'remove' } %>
    </div>

  </div>
</div>